# Python
__pycache__/
*.pyc
.venv/
venv/

# AWS SAM
.aws-sam/
samconfig.toml

# IDE
.idea/
.DS_Store
GenAI_Project_Guide.md
GenAI_Interview_Master_Guide.md
GenAI_Project_Guide.md
GenAI_Interview_Master_Guide.md
